<%= render 'series/innerpages_header' %>


<section class="edit_account">
  <div class="row">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>
  </div>  
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="row">

    <div class="col span-1-of-2 edit-account-label">
      <%= f.label :email %>
    </div>
    <div class="col span-1-of-2 edit-account-field">
      <%= f.email_field :email, autofocus: true %>
    </div>
  </div>
     <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
  <div class="row">

    <div class="col span-1-of-2 edit-account-label">
      <%= f.label :password %> 
      
    </div>
    <div class="col span-1-of-2 edit-account-field">
      <%= f.password_field :password, autocomplete: "off" %>
      
    </div>
  </div>

  <div class="row">
     
      <div class="col span-1-of-2 edit-account-label">
      <%= f.label :password_confirmation %>
      
    </div>
    <div class="col span-1-of-2 edit-account-field">
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
      
    </div>  
  </div>
  
  <div class="row">

    <div class="col span-1-of-2 edit-account-label">
      <%= f.label :current_password %> 
      
    </div>
    <div class="col span-1-of-2 edit-account-field">
      <%= f.password_field :current_password, autocomplete: "off" %>
      
    </div>
</div>
  
  <div class="row">
        <div class="col span-2-of-2 edit-account-submit">
        <%= f.submit "Update" %>
        </div>
     

  </div>




<% end %>
  </div>

</section>






<%= render 'series/footer' %>
