
<hr class="login-sticky-line">

<%= render 'series/innerpages_header' %>


<section class="edit_account">
  <div class="row">

<h2>Forgot your password?</h2>
</div>


<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

<div class="row">
	<div class="col span-1-of-2 forgot-password-label">
		    <%= f.label :email %>
</div>
	<div class="col span-1-of-2 forgot-password-field">

    <%= f.email_field :email, autofocus: true %>

	</div>	

</div>
<div class="row">
	<div class="col span-2-of-2 forgot-password-submit">

    <%= f.submit "Send me reset password instructions" %>
    </div>
    </div>
<% end %>

