<%= render 'series/innerpages_header' %>



  <section class="episode-details">

        <div class="row">
            <h2>  <%=link_to @episode.series.title,series_path(@episode.series_id), class: 'htwo-episode-title' %> </h2>
        </div>
        <div class="row">

        

            <div class="col span-8-of-12 episode-video">
                
                    <iframe src="<%= @episode.episode_video %>" width="750" height="470" frameborder="0" scrolling="auto" allowfullscreen></iframe>
                                         
            </div>
            <div class="col span-4-of-12 episode-list">

                <ul>
                    <% @episodes.each do |e| %>
                      <li class="<%= e.id %>">
                        <span class="episode-index"><%= e.episode_order %></span> 
                        <%= link_to e.episode_title,series_episode_path(@episode.series,e), class: 'episodes-list-link' %></li>

                    <% end %>
                   
                </ul>
            </div>                    

        </div>
        <div class="row">
            <div class="episode-t-n-d">
               <h3><%= @episode.episode_title %></h3>
            
            

                <p>
                    <%= @episode.episode_description.html_safe %>
                </p> 
            </div>
            
        </div>
    </section>
<%= render 'series/footer' %>

