/* Big tablet to 1200px (widths smaller taht the 1140px row) */
/*1080*/
@media only screen and (max-width: 1200px) {
    .hero-text-box {width: 100% !important;padding: 0 2%;}
    
    .row { padding: 0 2%; }

    /*padding: 120px 40px 40px 40px;*/
    .episode-video{width: 100%;text-align: center;}
    .episode-list{width: 80%; position: relative;left: 80px;}
}


/* Small tablet to big tablet: from 768px to 1023px */
/*920*/
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    section { padding: 60px 0; }
   
    .sec-title{width: 80%;margin-left: 10%;font-size: 130%;}

    .series-trailer{width: 100%; text-align: center;}
    .series-t-n-d{width: 100%;}
    .episode-video iframe{width: 600px !important; text-align: center;}
    .episode-list{position: relative;left: 80px;top: 30px;margin-bottom: 34px;width: 80%;}
}



/* Small phones to small tablets: from 481px to 767px */
/*690*/
@media only screen and (max-width: 767px) {
    body { font-size: 16px; }
    section { padding: 30px 0; }
    
    .row,
    .hero-text-box { padding: 0 4%; }
    .col { width: 100%;margin: 0 0 4% 0;}
    
    h1 { font-size: 180%; }
    h2 { font-size: 150%; }

    .sec-title{width: 100%;margin-left: 0%;}
    
    .sno { width: 10%;}
    .episode-title { width: 80%;}
    .episode-duration { width: 10%;}
    .episode-list{position: relative;left: 75px;top: 30px;margin-bottom: 50px;width: 80%;}

    .footer-nav,.social-links{display: none;}
    

    .section-login{ padding: 80px 40px 40px 40px !important; }
    
    .series-trailer{width: 100%; text-align: center;}
    .episode-video iframe{width: 500px !important; text-align: center;}
    .episode-list{position: relative;left: 70px;top: 30px;margin-bottom: 34px;}
    
    
    .copyright{width: 100%}
}



/* Small phones: from 0 to 480px */
/*432*/
@media only screen and (max-width: 480px) {
    
   .section-login{ padding: 40px 40px 40px 40px !important; }
   .series-trailer{text-align: center;}
    .episode-video iframe{width: 500px !important; text-align: center;}
    
    .episode-list{position: relative;left: 10px;top: 30px;margin-bottom: 50px;width: 100%;}

}

