<section class="section-testimonials">
        <div class="row">
            <h2>Testimonials</h2>
        </div>
        <div class="row testimonials-row">
            
            <div class="col span-1-of-12 testimonial-dp testimonial-dp-right">
                <img src="assets/testimonail1.jpg">
            </div>  
            <div class="col span-11-of-12 testimonial-text-left">
                <p> Like I did in the above pictures, you can easily achieve this look with using image editing applications like Photoshop, ImageReady or Fireworks. But lets think of a scenario in which you need to change the look of your website and the previous border color you used around your images doesn't fit with your new design. You will need to open up your images one by one and replace that border. If you have 3 or 4 images it will take minutes, but think of having 50 or more images... </p>
            </div>  
        </div>
        <div class="row testimonials-row">
            <div class="col span-11-of-12 testimonial-text-right">
                <p> Since we usually decrease the quality of the images for web (optimization), when you zoom to the pictures with borders you will notice that the color of the border is distorted. Now I will use a lighter blue to let you see the distortion obviously. The left image's borders is from CSS and the right one is from the image itself. </p>
            </div>  
            <div class="col span-1-of-12 testimonial-dp testimonial-dp-left">
                <img src="assets/testimonial2.jpg ">
            </div>  
            
        </div>
        <div class="row testimonials-row">
            
            <div class="col span-1-of-12 testimonial-dp testimonial-dp-right">
                <img src="assets/testimonial3.jpg">
            </div>  
            <div class="col span-11-of-12 testimonial-text-left">
                <p> Laracasts is by far the best learning resource I have ever found for any programming language.
Jeffrey Way is PHP's killer feature.  </p>
            </div>  
        </div>
        <div class="row testimonials-row">
            <div class="col span-11-of-12 testimonial-text-right">
                <p> Since we usually decrease the quality of the images for web (optimization), when you zoom to the pictures with borders you will notice that the color of the border is distorted. Now I will use a lighter blue to let you see the distortion obviously. The left image's borders is from CSS and the right one is from the image itself. </p>
            </div>  
            <div class="col span-1-of-12 testimonial-dp testimonial-dp-left">
                <img src="assets/testimonial4.jpg ">
            </div>  
            
        </div>
        <div class="row testimonials-row">
            
            <div class="col span-1-of-12 testimonial-dp testimonial-dp-right">
                <img src="assets/testimonial5.jpg">
            </div>  
            <div class="col span-11-of-12 testimonial-text-left">
                <p> Like I did in the above pictures, you can easily achieve this look with using image editing applications like Photoshop, ImageReady or Fireworks. But lets think of a scenario in which you need to change the look of your website and the previous border color you used around your images doesn't fit with your new design. You will need to open up your images one by one and replace that border. If you have 3 or 4 images it will take minutes, but think of having 50 or more images... </p>
            </div>  
        </div>

    </section>