 <section class="section-fs">
        <div class="row">
            <p class="sec-title">Tune In. &nbsp;&nbsp;Sit Back. &nbsp;&nbsp;Become a Salesforce.com Master.</p>
        </div>
        <div class="row">
            <h2>Recent Series</h2>
        </div>

        
<div class="row">

            <% @series.each do |series| %>
            
            <div class="col span-1-of-4 box">
                <div class="recent-series">

                    <img src="<%= series.series_banner %>">
                    <div class="recent-series-icard">
                        <div class="skill-lvl-count">
        
                            <p class="skill-level"><%= series.difficulty %></p>
                            <p class="video-count">
        
                                <span><%= series.no_of_lessons %></span>
                                <span class="video-key-word">videos</span>
                            </p>
                        </div>
                        <div class="series-title">
        
                            <%= link_to series.title,series_path(series) %>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
            
            
        </div>

    </section>

        <% if false %>

        <div class="row">

            <% @series.each do |series| %>

            <div class="col span-1-of-4 box">
                <div class="recent-series">

                    <img src="../assets/series6.jpg">
                    <div class="recent-series-icard">
                        <div class="skill-lvl-count">
        
                            <p class="skill-level"><%= series.difficulty %></p>
                            <p class="video-count">
        
                                <span><%= series.no_of_lessons %></span>
                                <span class="video-key-word">videos</span>
                            </p>
                        </div>
                        <div class="series-title">
        
                            <div class="series-title"><a href="series.html"><%= link_to series.title,series_path(series) %></a> </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
            
            
        </div>
        
    <% end %>