<%= render 'innerpages_header' %>


<section class="web-to-lead">
	<div class="row">
		<h2>Request Call Back</h2>
	</div>


<div class="row">
	
	<div class="col span-1-of-2">

		<div class="row" style="text-align: center;padding-bottom: 10px;">
			<h3>Most Popular Series</h3>
		</div>

		<div class="row">
            <% @series.each do |series| %>

			<div class="col span-1-of-3 box callback-box">
                <div class="recent-series">

                    <img src="<%= series.series_banner%>" class="callback-series-banner">
                    
                    <div class="recent-series-icard">
                        
                            <div class="series-title callback-box-title">
        
                            <%= link_to series.title,series_path(series) %>
                        </div>
                    </div>
                </div>
            </div>
            <%end -%>
		</div>
		 


		
	</div>
	
	<div class="col span-1-of-2">
		<form action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">

		<input type=hidden name="oid" value="00D28000001NyDU">
		<input type=hidden name="retURL" value="http://salesforcecasts.com">
	
	<div class="row callback-fields">
		
			
			<input  id="last_name" maxlength="80" name="last_name" size="20" type="text" placeholder="Name" required/>
		
	<div class="row callback-fields">
		
			<input  id="mobile" maxlength="40" name="mobile" size="20" type="text" placeholder="Mobile" required/>
			
		
	</div>
	
	<div class="row callback-fields">
		
			<input  id="email" maxlength="80" name="email" size="20" type="email" placeholder="Email" required/>
	</div>
	
	<div class="row callback-fields">
		
			<select  id="00N2800000CIh1x" name="00N2800000CIh1x" title="Interested in?" required>
				<option value="">--None--</option>
				<option value="Complete Salesforce.com Training">Complete Salesforce.com Training</option>
				<option value="Salesforce.com Administration Training">Salesforce.com Administration Training</option>
				<option value="Salesforce.com Development Training">Salesforce.com Development Training</option>
				<option value="Salesforce.com 502/Integration Training">Salesforce.com Integration(501) Training</option>
			</select>
		
	</div>
	<div class="row callback-fields">
		
			<textarea name="description" placeholder="Question?"></textarea>

	</div>
	
	
	<div class="row callback-submit">
		<input type="submit" name="submit">
			
	
	</div>

</form>

	</div>
</div>
	



</section>



<%= render 'footer' %>