<%= render 'innerpages_header' %>

<section class="section-subscriptions">
	
	<div class="row">
		<h2>Subscriptions</h2>

		<table class="subscription-table"> 

  <% if not @orders.empty? %> 
  <tr>
    <th>Title</th>
    <th>No of Lessons</th> 
    <th>Difficulty</th>
    <th>Purchased on</th>
  </tr>
  <% end -%>

 <% @orders.each do |order| %>
      <tr>
        <td>  <%= link_to order.series.title,order.series %></td>
        <td><%= order.series.no_of_lessons %></td>
        <td><%= order.series.difficulty %></td>
        <td><%= order.created_at.strftime("%m/%d/%y  %H:%M %p")    %></td>
        
     
        

      </tr>
    <% end %>


</table>
	</div>
</section>

<%= render 'footer' %>
